.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#header, #content {
	padding: 0.5em;
}

#actions, #details {
	flex: 20%;
}

#buttons {
	width: fit-content;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
}

pre {
	margin: 0;
}